MYSQLDB_LOCAL_PORT=
HOST=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
SECRET=

// change this to your email to see mails comming to you from contact us 
founder_mailer=


MAIL_HOST=smtp.example.com
MAIL_USER=user@example.com
MAIL_PASSWORD=topsecret

AZURE_STORAGE=